/*  your css code here. If applicable */

/* unknown */


th, td {
  padding: 5px;  /* change this from 8px to 5px */
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #f5f5f5;
  text-align: left;
  font-size: 16px;
}

th {
  font-weight: bold;
  background-color: white;
}

tr:nth-child(even) td {
  background-color: #f2f2f2;
}
