/*  your css code here. If applicable */

/* unknown */

 table {
      border-collapse: separate;
      border-spacing: 10px;
}

th, td {
      padding: 8px;
      border: 2px solid #ccc;
      border-radius: 8px;
      background-color: #f5f5f5;
      text-align: left;
      font-size: 16px;
}

th {
      font-weight: bold;
      background-color: white; /* override header background */
}

tr:nth-child(even) td {
      background-color: #f2f2f2;
}
  